.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userForms {
  text-align: center;
  margin: 45px 200px;
  display: wrap;
  flex-direction: column;
}

.formFields {
  margin: 5px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 7px;
  border: 0;
  margin:5px;
}
.submit-btn {
  color: darkslategrey;
  background-color: #61dafb;
}
.submit-btn:hover {
  background-color: #14bbe9;
}
.commentform {
  width: 100%;
  margin: 40px 200px;
  border-radius:5px;
  border: 0;
}
.discussion {
  text-align: center;
  margin: 45px 200px;
  display: wrap;
  flex-direction: column;
}