* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .background {
  background-color: rgba(148, 216, 255, 0.8);
  background-size: 100%;
  color: white;
  height: 100%;
  position: relative;

}

#wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  background-color: rgba(34, 234, 248, 0.178);
 }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:#FFE4C4;
}

/*-- Header --*/
#header {
  background-color: rgba(42, 55, 243, 0.8);
  /* background-image: url(../src/assets/hero.jpg); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 20px;
}

.hero-image {
  background-image: url(../src/assets/hero.jpg);
  background-size: cover;
}

.header {
  opacity: .8;
}

header .headerName a {
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-align: right;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0 10px 0 30px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 30px;
  font-weight: lighter;
  font-size: 32px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
  color: red;
}

.page-container {
  margin: 80px auto;
  margin-bottom: 15px;
  width: 90%;
  background-color: rgba(151, 217, 255, 0.8);
  padding: 40px;
}

.section-title {
  font-size: 30px;
  /* color: white; */
  padding-bottom: 20px;
}

#about-text {
  font-size: 20px;
}

#about-header {
  text-align: center;
}

/* Break space */
.space {
  margin-top: 50px;
}

/* Shop Page */
#shop-text {
  font-size: 30px;
  text-align: center;
}

.carouselImg {
  height: 50%;
  width: 50%;
  content: center;
}

.carousel {
  text-align: center;
  outline-style: solid;
  outline-color:rgba(0, 0, 0, 0.205);
  background-color: rgba(39, 104, 243, 0.247);
}

.shopTitle .shop-title {
  text-align: center;
  color: white;
  font-size: 50px;
}

.shopButton {
  width: 35%;
  margin: auto;
  justify-content: center;
}


footer div ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* padding: 10px; */
}

footer div li a {
  text-decoration: none;
  color: white;
  /* padding: 10px; */
  margin: 30px;
  font-weight: lighter;
  font-size: 16px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  /* border-bottom: 3px solid; */
  cursor: pointer;
}

.social-footer-icons{
  padding: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}



@import url(https://fonts.googleapis.com/css?family=Satisfy); 
@import url(https://fonts.googleapis.com/css?family=Six+Caps);

body {
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=15424fff&noise=166f9e&density=100&opacity=61);
  text-align: center;
}

.halo {
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.6));
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  pointer-events: none;
}

.intro {
  color: red;
  display: block;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  text-shadow: 1px 1px black;
  transform: rotate(-10deg);
}

.intro--the {
  transform: rotate(-10deg) translate(-20px, 15px);
}

.intro--num {
  background: rgb(240, 200, 160);
  border: 1px dotted rgb(20, 60, 80);
  color: rgb(20, 60, 80);
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bolder;
  padding: 4px 6px 2px;
  position: absolute;
  text-shadow: none;
  transform: rotate(-10deg) translate(20px, -25px);
}

.vintage__container {
  display: inline-block;
  margin: 25px auto 40px;
}

.vintage {
  font-family: 'Six Caps', sans-serif;
  font-size: 192px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}

.vintage__top {
  background: linear-gradient(red, rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

.vintage__bot {
  text-shadow: 
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25),
    12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35),
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}

.outro {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 16px;
}

.outro--big {
  font-family: sans-serif;
  font-size: 24px;
}

.outro--smart {
  display: block;
}

/* footer */
.social-links {
  text-align: center;
  background-image: url(../src/assets/hero.jpg);
  background-size: cover;
}

footer {
  background-color: rgba(71, 133, 247, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: flex;
  font-size: 1.5vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  text-align: center;
}

footer ul li {
  margin: 20px;
}

.footerImage {
  height: 75px;
  margin: 10px auto;
  padding: 5px;
}

.cardBodyStyle {
  background-color: rgba(23, 116, 170, 0.39);
}

